# конфигурация для uvicorn
ENV_UVICORN__HOST=localhost
ENV_UVICORN__PORT=8888
ENV_UVICORN__RELOAD=True

# URL для подключения к SQLite
ENV_DATABASE__URL=sqlite+aiosqlite:///./db.sqlite3

# Аутентификация
ENV_AUTH__SECRET_KEY=lcvnwFQ2td92ARG5wA74fp1DGfevWJ2UAUpAdG9skn8

